            .header_title {
                float: left;
                height:50px;
                margin-top:10px;
                padding-top: 5px;
            }

            .formataContainer {
            border-color: #939393;
            border-style: solid;
            border-width: 5px;
            padding: 0px;
            width: 610px;
            height: 460px;
          }

        .navbar-align
        {
            width: 100%;
        }

        .header_title h1{
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 5px;
            text-align: left;
            margin-top: 5px;
        }

        #footer {
            background: #272727;
            line-height: 20px;
            margin-top: 0px;
        }
        .footer-box {
            float: none;
            display: inline-table;
        }

        .company-details {
            color: #939393;
            padding-top: 67px;
            padding-bottom: 30px;  
        }

        .company-details a {
            color:#939393;
            text-decoration:none;
        }

        .company-details a:hover {
            color: #e96656;
        }

        .company-details .icon-top {
            font-size: 30px;
            margin-bottom: 10px;
        }
        .copyright {
            padding-top: 72px;
            padding-bottom: 68px;
            background: #171717;
        }
        .copyright p {
            margin-bottom: 0;
            color: #939393;
        }
        .social {
            margin: 0 0 1.5em 0 !important;
        }
        .social li {
            display: inline-block;
            margin: 5px;
        }
        .social li a {
            color: #939393;
            font-size: 18px;
        }
        .social li a:hover {
            color: #e96656;
        }
        .footer-box-wrap {
            float: left;
            width: 100%;
        }
        .footer-box {
            float: none;
            display: inline-table;
        }

        .text-centered {text-align: center;}

        .header_title h1.site-title { margin-bottom: 0; margin-top: 0px; }
        .header_title h1.site-title a { font-size: 18px; }
        .header_title h2.site-description { font-family: Lato; font-weight: 300; color: #666; float: left; }
        .header_title h2.site-description a { font-size: 80%}

        #nav-toggle-button{
            background-color:#ebebeb;
        }

            .main-text
            {
                position: absolute;
                top: 50px;
                width: 96.66666666666666%;
                color: #FFF;
            }
            .btn-min-block
            {
                min-width: 170px;
                line-height: 26px;
            }
            .btn-clear
            {
                color: #FFF;
                background-color: transparent;
                border-color: #FFF;
                margin-right: 15px;
            }
            .btn-clear:hover
            {
                color: #000;
                background-color: #FFF;
            }


            body { padding-top: 40px; }

        @media (min-width: 544px) {
            .jumbotron {
                padding: 2rem 2rem;
            }
        }


        @media (min-width: 544px) and (max-width: 768px) {
            body { padding-top: 0px; }
            .jumbotron {
                padding: 5rem 2rem;
            }
        }

        @media (max-width: 767px) {
            .bs-navbar-collapse {
                border: 0;
            }

            #main-nav {
                overflow: hidden !important;
            }

            .navbar-inverse .navbar-nav {
                padding-left: 10px;
                line-height: normal;
                text-align: center;
            }

            .navbar-inverse .navbar-nav > li {
                display: inline-block;
                margin-bottom: 0;
            }

            .navbar-inverse .navbar-nav > li {
                width: 100%;
                border-bottom: 1px solid #EDEDED;
                position: relative;
                margin: 8px 0 0 0;
                padding: 0 0 8px 0;
            }

            .navbar-inverse .navbar-nav > li a {
                text-align: left;
            }

            .navbar-inverse .navbar-nav ul.sub-menu {
                display: none !important;
                position: relative;
                top: 0;
                box-shadow: none;
                width: 100%;
            }

            .navbar-inverse .navbar-nav li.this-open > ul {
                display: block !important;
            }

            .navbar-inverse .navbar-nav ul.sub-menu li {
                width: 100%;
                float: left;
            }

            .navbar-inverse .navbar-nav ul.sub-menu li a {
                width: 100%;
                float: left;
                padding: 8px 25px 8px 0;
                border-bottom: 1px solid #EDEDED;
            }

            .navbar-inverse .navbar-nav ul.sub-menu li:last-child a {
                border-bottom: none;
            }

            .navbar-inverse .navbar-nav ul.sub-menu ul.sub-menu {
                position: relative;
                left: 0;
                top: 0;
            }

            #main-nav {
                overflow: visible;
            }

            #main-nav,
            #main-nav.fixed {
                position: relative;
            }

            .navbar-collapse {
                max-height: 100%;
            }

            .navbar-inverse .navbar-nav ul.sub-menu li {
                padding-left: 20px;
            }

            .navbar-inverse .navbar-nav ul.sub-menu li {
                padding-bottom: 0;
                padding-top: 0;
            }

            .dropdownmenu {
                display: block;
                position: absolute;
                z-index: 9;
                right: 0;
                top: 5px;
                width: 25px;
                height: 25px;
                margin: 0;
                padding: 0;
                border-radius: 3px;
                background: url(/assets/img/cotil-logo.png) center center no-repeat #e96656;
            }

            .navbar-inverse .navbar-nav ul.sub-menu li {
                margin-right: 0;
                padding-right: 0;
            }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: #404040 !important;
            }

            .this-open > a {
                color: #e96656 !important;
            }

            ul.nav > li.current_page_item > a:before {
                content: "";
                left: 0px;
                width: 50px;
            }

            li.current > a:before {
                content: "";
                display: none !important;
            }

            ul.nav > li.current_page_item > a:before {
                content: "";
                left: 0px;
                width: 50px;
            }
        }
            .navbar-light .navbar-nav .nav-link {
                color: black;
            }

            .jumbotron
            {background-color: #FFFFFF}

    #cotuca-top{
        background: transparent url('../img/banner.jpg') no-repeat center bottom;
        background-size: cover;
        overflow: hidden;
        height: 366px;
    }
    #cotuca-top h1.intro-text { line-height: 90%; margin-top: 110px; font-size: 25px; }
    #cotuca-top h1.intro-text small { color: #FFFFFF; }
    #cotuca-top div.buttons { display: none }

    body.home #cotuca-top { height: 380px; }
    body.home #cotuca-top div.buttons { display: block; }
    body.home #cotuca-top h1.intro-text { margin-top: 150px; font-size: 38px; }

.intro-text{
	text-align: center;
	color: #FFF;
	line-height: 65px;
	z-index: 0;
	text-transform: uppercase;
	font-size: 55px;
	float:none;
}
            .destacados{
                padding: 20px 0;
                text-align: center;
            }
            .destacados > div > div{
                padding: 10px;
                border: 1px solid transparent;
                border-radius: 4px;
                transition: 0.2s;
            }
            .destacados > div:hover > div{
                margin-top: -10px;
                border: 1px solid rgb(200, 200, 200);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
                background: rgba(200, 200, 200, 0.1);
                transition: 0.5s;
            }

/* sessão de depoimentos
.dep{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}*/